In [1]:
import pandas as pd

In [7]:
dataset = pd.read_csv("amazon_alexa.tsv", delimiter="\t")

In [9]:
dataset

,rating,date,variation,verified_reviews,feedback
0,5,31-Jul-18,Charcoal Fabric,Love my Echo!,1
1,5,31-Jul-18,Charcoal Fabric,Loved it!,1
2,4,31-Jul-18,Walnut Finish,"Sometimes while playing a game, you can answer...",1
3,5,31-Jul-18,Charcoal Fabric,I have had a lot of fun with this thing. My 4 ...,1
4,5,31-Jul-18,Charcoal Fabric,Music,1
...,...,...,...,...,...
3145,5,30-Jul-18,Black Dot,"Perfect for kids, adults and everyone in betwe...",1
3146,5,30-Jul-18,Black Dot,"Listening to music, searching locations, check...",1
3147,5,30-Jul-18,Black Dot,"I do love these things, i have them running my...",1
3148,5,30-Jul-18,White Dot,Only complaint I have is that the sound qualit...,1
3149,4,29-Jul-18,Black Dot,Good,1

In [11]:
dataset.shape

(3150, 5)

In [13]:
dataset.columns

Index(['rating', 'date', 'variation', 'verified_reviews', 'feedback'], dtype='object')

In [15]:
type(dataset)

pandas.core.frame.DataFrame

In [25]:
dataset.describe()

            rating     feedback
count  3150.000000  3150.000000
mean      4.463175     0.918413
std       1.068506     0.273778
min       1.000000     0.000000
25%       4.000000     1.000000
50%       5.000000     1.000000
75%       5.000000     1.000000
max       5.000000     1.000000

In [21]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3150 entries, 0 to 3149
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   rating            3150 non-null   int64
 1   date              3150 non-null   object
 2   variation         3150 non-null   object
 3   verified_reviews  3149 non-null   object
 4   feedback          3150 non-null   int64
dtypes: int64(2), object(3)
memory usage: 123.2+ KB

In [27]:
dataset.describe(include="object")

             date   variation verified_reviews
count        3150        3150             3149
unique         77          16             2300
top     30-Jul-18  Black  Dot
freq         1603         516               79

In [31]:
dataset["variation"].value_counts()

variation
Black  Dot                      516
Charcoal Fabric                 430
Configuration: Fire TV Stick    350
Black  Plus                     270
Black  Show                     265
Black                           261
Black  Spot                     241
White  Dot                      184
Heather Gray Fabric             157
White  Spot                     109
White                            91
Sandstone Fabric                 90
White  Show                      85
White  Plus                      78
Oak Finish                       14
Walnut Finish                     9
Name: count, dtype: int64

In [33]:
dataset['verified_reviews']

0                                           Love my Echo!
1                                               Loved it!
2       Sometimes while playing a game, you can answer...
3       I have had a lot of fun with this thing. My 4 ...
4                                                   Music
                              ...
3145    Perfect for kids, adults and everyone in betwe...
3146    Listening to music, searching locations, check...
3147    I do love these things, i have them running my...
3148    Only complaint I have is that the sound qualit...
3149                                                 Good
Name: verified_reviews, Length: 3150, dtype: object

In [57]:
dataset['length'] = dataset['verified_reviews'].dropna().apply(len)

In [43]:
dataset

,rating,date,variation,verified_reviews,feedback,length
0,5,31-Jul-18,Charcoal Fabric,Love my Echo!,1,13.0
1,5,31-Jul-18,Charcoal Fabric,Loved it!,1,9.0
2,4,31-Jul-18,Walnut Finish,"Sometimes while playing a game, you can answer...",1,195.0
3,5,31-Jul-18,Charcoal Fabric,I have had a lot of fun with this thing. My 4 ...,1,172.0
4,5,31-Jul-18,Charcoal Fabric,Music,1,5.0
...,...,...,...,...,...,...
3145,5,30-Jul-18,Black Dot,"Perfect for kids, adults and everyone in betwe...",1,50.0
3146,5,30-Jul-18,Black Dot,"Listening to music, searching locations, check...",1,135.0
3147,5,30-Jul-18,Black Dot,"I do love these things, i have them running my...",1,441.0
3148,5,30-Jul-18,White Dot,Only complaint I have is that the sound qualit...,1,380.0
3149,4,29-Jul-18,Black Dot,Good,1,4.0

In [45]:
from textblob import TextBlob

In [47]:
def get_sentiment(text):
    mytextblob = TextBlob(text)
    mysentiment = mytextblob.sentiment
    return mysentiment

In [49]:
get_sentiment("Perfect for kids, adults and everyone")

Sentiment(polarity=1.0, subjectivity=1.0)

In [55]:
dataset['verified_reviews'].dropna().apply(get_sentiment)

0                                    (0.625, 0.6)
1                                    (0.875, 0.8)
2                                  (-0.1, 0.5125)
3                     (0.35, 0.44999999999999996)
4                                      (0.0, 0.0)
                          ...
3145                                   (1.0, 1.0)
3146     (0.3333333333333333, 0.4523809523809524)
3147    (0.23766233766233766, 0.5337662337662339)
3148    (0.31666666666666665, 0.6320987654320986)
3149                    (0.7, 0.6000000000000001)
Name: verified_reviews, Length: 3149, dtype: object

In [75]:
def get_sentiment_polarity(text):
    mytextblob = TextBlob(text)
    mysentimentpolarity = mytextblob.sentiment.polarity
    return mysentimentpolarity

In [77]:
dataset["polarity"] = dataset['verified_reviews'].dropna().apply(get_sentiment_polarity)

In [78]:
dataset

,rating,date,variation,verified_reviews,feedback,length,polarity
0,5,31-Jul-18,Charcoal Fabric,Love my Echo!,1,13.0,0.625000
1,5,31-Jul-18,Charcoal Fabric,Loved it!,1,9.0,0.875000
2,4,31-Jul-18,Walnut Finish,"Sometimes while playing a game, you can answer...",1,195.0,-0.100000
3,5,31-Jul-18,Charcoal Fabric,I have had a lot of fun with this thing. My 4 ...,1,172.0,0.350000
4,5,31-Jul-18,Charcoal Fabric,Music,1,5.0,0.000000
...,...,...,...,...,...,...,...
3145,5,30-Jul-18,Black Dot,"Perfect for kids, adults and everyone in betwe...",1,50.0,1.000000
3146,5,30-Jul-18,Black Dot,"Listening to music, searching locations, check...",1,135.0,0.333333
3147,5,30-Jul-18,Black Dot,"I do love these things, i have them running my...",1,441.0,0.237662
3148,5,30-Jul-18,White Dot,Only complaint I have is that the sound qualit...,1,380.0,0.316667
3149,4,29-Jul-18,Black Dot,Good,1,4.0,0.700000

In [71]:
def get_sentiment_subjectivity(text):
    mytextblob = TextBlob(text)
    mysentimentsubjectivity = mytextblob.sentiment.subjectivity
    return mysentimentsubjectivity

In [83]:
dataset["subjectivity"] = dataset['verified_reviews'].dropna().apply(get_sentiment_subjectivity)

In [85]:
dataset

,rating,date,variation,verified_reviews,feedback,length,polarity,subjectivity
0,5,31-Jul-18,Charcoal Fabric,Love my Echo!,1,13.0,0.625000,0.600000
1,5,31-Jul-18,Charcoal Fabric,Loved it!,1,9.0,0.875000,0.800000
2,4,31-Jul-18,Walnut Finish,"Sometimes while playing a game, you can answer...",1,195.0,-0.100000,0.512500
3,5,31-Jul-18,Charcoal Fabric,I have had a lot of fun with this thing. My 4 ...,1,172.0,0.350000,0.450000
4,5,31-Jul-18,Charcoal Fabric,Music,1,5.0,0.000000,0.000000
...,...,...,...,...,...,...,...,...
3145,5,30-Jul-18,Black Dot,"Perfect for kids, adults and everyone in betwe...",1,50.0,1.000000,1.000000
3146,5,30-Jul-18,Black Dot,"Listening to music, searching locations, check...",1,135.0,0.333333,0.452381
3147,5,30-Jul-18,Black Dot,"I do love these things, i have them running my...",1,441.0,0.237662,0.533766
3148,5,30-Jul-18,White Dot,Only complaint I have is that the sound qualit...,1,380.0,0.316667,0.632099
3149,4,29-Jul-18,Black Dot,Good,1,4.0,0.700000,0.600000

In [87]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3150 entries, 0 to 3149
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   rating            3150 non-null   int64
 1   date              3150 non-null   object
 2   variation         3150 non-null   object
 3   verified_reviews  3149 non-null   object
 4   feedback          3150 non-null   int64
 5   length            3149 non-null   float64
 6   polarity          3149 non-null   float64
 7   subjectivity      3149 non-null   float64
dtypes: float64(3), int64(2), object(3)
memory usage: 197.0+ KB

In [91]:
dataset[ [ "length" , "polarity", "subjectivity" ] ].describe()

            length     polarity  subjectivity
count  3149.000000  3149.000000   3149.000000
mean    132.090187     0.349897      0.529156
std     182.114569     0.303292      0.256128
min       1.000000    -1.000000      0.000000
25%      30.000000     0.125000      0.419643
50%      74.000000     0.350000      0.584848
75%     165.000000     0.533333      0.694444
max    2851.000000     1.000000      1.000000

In [93]:
dataset.to_csv('updated_reviews.tsv', sep='\t', index=False)